.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 60px;

  @media #{$mobile} {
    flex-direction: column;
    padding: 10px 50px;
  }
}

.copyright__item {
  display: flex;
  align-items: center;

  &--logo {
    width: 300px;
  }

  @media #{$mobile} {
    margin: 10px 0;
  }
}

.copyright__text {
  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-weight: 400;

  color: #5987BB;
}
