.slider {
  height: 100vh;

  position: relative;
  overflow: hidden;

  background: url("../images/bg.png") center no-repeat;
  background-size: cover;
}

.slider__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media #{$mobile} {
    justify-content: center;
  }
}

.slider__item {
  margin-top: 155px;
  max-width: 420px;

  @media #{$notebook} {
    margin-top: 200px;
    margin-left: 100px;
  }

  @media #{$mobile} {
    margin-left: 40px;
  }
}

.slider__title {
  margin-bottom: 10px;

  font-size: 30px;
  color: $blue;
  font-family: 'Arvo', serif;
  font-weight: 700;

  text-transform: uppercase;

  @media #{$mobile} {
    font-size: 20px;
  }
}

.slider__icon {
  @media #{$mobile} {
    width: 70%;
  }
}

.slider__text {
  margin-top: 25px;
  width: 349px;

  font-size: 17px;
  color: $black;
  font-family: 'Prompt', sans-serif;
  font-weight: 400;

  @media #{$mobile} {
    width: 235px;
    font-size: 15px;
  }
}